body{
padding: 40px 110px;
background: rgba(236, 185, 143, 0.193);
font-family: Montserrat;
}
body *{
    border: solid 1px red;
}
.navButtons{
    text-align: center;
}
.navButtons li{
    list-style: none;
    display: inline;
    margin: 10px;
    padding: 0px 20px;
}
.navButtons li .btn{
    padding: 10px 50px;
    font-size: 17px;
    font-weight: bold;
    background: rgb(11, 207, 229);
}
.active{
    background: rgb(34, 145, 214) !important;
}
.poster{
    width: 200px;
    min-height: 300px;
}
.title{
    margin:auto;
    max-width: 250px;
    min-height: 60px;
    word-wrap: break-word;
    font-size: 20px;
}

.genresDiv{
    text-align: center;
}
.genresNav{
    list-style: none;
    margin: auto;
    padding: 0px;
    
}
.genresNav li{
   margin: 10px;
   display: inline-block;
   cursor: pointer;
   font-weight: bold;
   font-size: 14px;
   font-family: Montserrat;
}
.display-4{
    text-align: center;
}
.padding0{
    padding: 0px;
}
.pagination ul{
    list-style: none;
    padding: 0px;
    margin: auto;
    width: 300px;
    margin-bottom: 60px;
}
.pagination ul li{
    margin: auto;
    text-align: center;
}
.form-control{
    width: 220px;
    margin-left: 10px;
}
.pageinput{
    display: flex;
    text-align: center;
    margin: auto;
}
.pageinput .btn{
    margin: 5px;
}
.nextButton{
    float: right;
    min-width: 130px;
}
.moviebox{
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px;
    list-style: none;
}
.movieboxDiv{
    width: 280px;
    height: 680px;
}
.genresInBox{
    max-width: 230px;
    height: 45px;
    margin: auto;
    padding: 5px 0px;
    font-size: 13px;
    color: rgb(255, 102, 0);
}
.overview{
    max-width: 210px;
    max-height:210px;
    word-wrap: break-word;
    overflow: hidden;
    text-align: justify;
    padding-right: 10px;
    margin: auto;
    font-size: 15px;
}
.overview:hover{
    overflow: auto;
 
    
}
.resultContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-primary{
    margin: 10px;
}

.pagebuttons{
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 40px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 21, 255, 0.221); 
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}