body{
padding: 40px 110px;
background: rgba(138, 207, 233, 0.193);
font-family: Montserrat;
}
/* body *{
    border: olive solid 0.2px;
} */
.classDiv{
    height: 65px;
}
.navButtons{
    text-align: center;
}
.input-group{
    margin: auto;
    width: 500px;
}
.navButtons li{
    list-style: none;
    display: inline;
    margin: 10px;
    padding: 0px 20px;
}
.navButtons li .btn{
    padding: 10px 50px;
    font-size: 17px;
    font-weight: bold;
    background: rgb(11, 207, 229);
}
.active{
    background: rgb(34, 145, 214) !important;
}
.poster{
    width: 200px;
    min-height: 300px;
    border-radius: 15px;
}
.title{
    margin:auto;
    font-weight: bold;
  
    max-width: 250px;
    min-height: 60px;
    word-wrap: break-word;
    font-size: 20px;
}
.titletext{
    background: rgba(255, 212, 20, 0.179);
    border-radius: 20px;
}
ul li .btn-md{
    margin: 5px;
    cursor: default !important;
}
.genresDiv{
    text-align: center;
} 
.genresNav{
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 900px;
    
}
.genresNav li{
   margin: 10px;
   display: inline-block;
   cursor: pointer;
   font-weight: bold;
   font-size: 14px;
   font-family: Montserrat;
}
.display-4{
    text-align: center;
}
.padding0{
    padding: 0px;
}
.pagination ul{
    list-style: none;
    padding: 0px;
    margin: auto;
    width: 300px;
    margin-bottom: 60px;
}
.pagination ul li{
    margin: auto;
    text-align: center;
}
.form-control{
    width: 220px;
    margin-left: 10px;
}
.pageinput{
    display: flex;
    text-align: center;
    margin: auto;
}
.pageinput .btn{
    margin: 5px;
}
.nextButton{
    float: right;
    min-width: 130px;
}
.moviebox{
    display: inline-block;
    vertical-align: top;
    margin: 20px 10px;
    list-style: none;
}
.movieboxDiv{
    width: 280px;
    height: 680px;
}
.genresInBox{
    max-width: 230px;
    height: 45px;
    margin: auto;
    padding: 5px 0px;
    font-size: 13px;
    color: rgb(241, 74, 74);
}
.overview{
    max-width: 210px;
    max-height:190px;
    word-wrap: break-word;
    overflow: hidden;
    text-align: justify;
    padding-right: 10px;
    margin: auto;
    font-size: 15px;
}
.overview:hover{
    overflow: auto;
 
    
}
.resultContainer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-primary{
    margin: 10px;
}

.pagebuttons{
    display: flex;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 40px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(38, 255, 0, 0.221); 
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}


@media only screen and (max-width: 600px) {
    .navButtons li .btn{
        margin: 10px;
        padding: 10px;
        font-size: 17px;
        font-weight: bold;
        background: rgb(11, 207, 229);
    }
    .display-4{
        font-size: 22px;
    }
    body {
        text-align: center;
    }
    .pagination ul{
        position: absolute;
        right: 15px;
    }
}

.copyrights{
    font-size: 12px;
    color: rgb(7, 7, 7);
    width: 139px;
    margin: auto;
    font-weight: bold;
}
.copyrights a{
    font-size: 12px;
    color: rgb(0, 0, 0);
}
